<header>
    <div class="container-fluid">
        <div id="logo">
            <img src="img/logo.png" height="120px">
        </div>
        <div id="menu">
            <a href="Camisetas" id="Camisetas">Camisetas</a>
            <a href="Moletons" id="Moletons">Moletons</a>
            <a href="Canecas" id="Canecas">Canecas</a>
            <a href="Outros" id="Outros">Outros</a>
            <a href="#"><i class="fas fa-shopping-cart"></i> Meu Carrinho</a>
        </div>
    </div>
</header>